@model LojaNinja.Dominio.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Logar", "Produto", FormMethod.Post, new { id = "form-cadastro-produto" }))
{
     @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(excludePropertyErrors: false)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email) <br />
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Senha) <br />
        @Html.PasswordFor(m => m.Senha)
    </div>
    <div class="form-group">
        <input type="submit" value="Entrar" />
    </div>
}
